# Server
PORT=
BACKEND_URL=

# Database
POSTGRES_VERSION=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=

# Rustfs
RUSTFS_VERSION=
RUSTFS_URL=
RUSTFS_PORT=
RUSTFS_INTERFACE_PORT=
RUSTFS_ACCESS_KEY=
RUSTFS_SECRET_KEY=
RUSTFS_BUCKET_NAME=

# Cryptography
SALT_ROUND=
JWT_SECRET=
JWT_EXPIRATION=
REFRESH_TOKEN_EXPIRATION_DAYS=

# OnApplicationBootstrap
ADMIN_EMAIL=
ADMIN_NAME=
ADMIN_LASTNAME=
ADMIN_PASSWORD=